@model Models.AdminModels.LiveAnimalViewModel;

@{
    ViewData["Title"] = "Add Animal";
    Layout = "_LayoutAdmin";
}


<div class="container m-auto">
    <div class="m-auto col-lg-9 p-5 bg-white">
        <h1 class="d-flex justify-content-center">Add Animal</h1>
        @Html.ValidationSummary(true, "", new {@class = "text-danger alert alert-danger"})
    <form id="registerForm" method ="post" asp-action="AddAnimal" class="" autocomplete="off" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="title">Title</label>
            <input asp-for="Title" class="form-control" id="title" placeholder="Enter Animal Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input asp-for="Price" class="form-control" id="price" placeholder="Enter Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select asp-for="Category" class="form-control" id="category" asp-items="@(new SelectList(@ViewBag.Categories,"Id","Name"))">
                <option disabled selected value=""> -- Please Select -- </option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="origin">Origin</label>
            <input asp-for="Origin" class="form-control" id="origin" placeholder="Enter Origin">
            <span asp-validation-for="Origin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="color">Select Color</label>
            
            <select asp-for="Color" class="form-control" id="color" >
                <option disabled selected value=""> -- Please Select -- </option>
                <option value="Black">Black</option>
                <option value="White">White</option>
                <option value="Red">Red</option>
                <option value="Mixed">Mixed</option>
            </select>
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input asp-for="Location" class="form-control" id="location" placeholder="Enter Location">
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="color">Is Featured ?</label>

            <select asp-for="Featured" class="form-control" id="feature">
                <option disabled selected value=""> -- Please Select -- </option>
                <option value = "true">Yes</option>
                <option value = "false">No</option>
                
            </select>
            <span asp-validation-for="Featured" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5" asp-for="Description" class="form-control" id="description" placeholder="Enter Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="files">Upload Images</label>
            <input type="file" class="form-control" accept=".png, .jpg, .jpeg" id="files" name="files" multiple required/>
            
        </div>
        

        <div class="text-center">
            <button class="btn btn-block btn-success m-b-20" type="submit">Add Animal</button>
        </div>
    </form>
    </div>
</div>