@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container m-auto">
    <div>
        
        <h1>Admin Panel</h1>
        <a asp-controller="AdminAuth" asp-action="Logout">Logout</a>

    </div>

</div>