@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common
@model List<Models.Entities.Transaction>
@{
    ViewData["Title"] = "ProblemeticTransaction";
    Layout = "_LayoutAdmin";
}


<div class="container-fluid m-auto">
    <div class="m-auto col-lg-9 bg-white p-5 mt-3 mb-3">
        <h1 class="d-flex justify-content-center">Failed Transactions</h1>
        <div class="table-responsive-md">
            <table class="table-bordered table table-striped">
                <thead>
                    <tr class="bg-success text-white">
                        <td class="text-center font-weight-bold">Transaction ID</td>
                        
                        <td class="text-center font-weight-bold">Amount</td>
                        <td class="text-center font-weight-bold">Product ID</td>
                        <td class="text-center font-weight-bold">Transaction Time</td>
                    </tr>
                </thead>

                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        if (item.TranxId != null)
                                        {
                                            <td class="text-center">@item.TranxId</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">N/A</td>
                                        }
                                        
                                        if (!double.IsNaN(item.Amount))
                                        {
                                            <td class="text-center">@item.Amount</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">N/A</td>
                                        }
                                        if (item.Product != null)
                                        {
                                            <td class="text-center">@item.Product.Id</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">N/A</td>
                                        }
                                        if (item.transactionTime != null)
                                        {
                                            <td class="text-center">@item.transactionTime.AddHours(6).ToString("dddd, dd MMMM yyyy HH:mm:ss")</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">N/A</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                        <td> No data found!!!</td>
                    }
                    }
                    </tbody>

                </table>
                
            </div>

        </div>

    </div>