<!DOCTYPE html>
<html lang="en">
<head>
    <link runat="server" rel="shortcut icon" href="~/themes/images/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/themes/images/favicon.ico" type="image/ico" />
    <meta charset="utf-8">
    <title>@ViewData["Title"] - WebService</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- bootstrap -->

    <link href="~/lib/bootstra/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstra/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/themes/css/bootstrappage.css" rel="stylesheet" />


    <!-- global styles -->
    <link href="~/themes/css/flexslider.css" rel="stylesheet" />
    <link href="~/themes/css/main.css" rel="stylesheet" />
    <link href="~/themes/css/jquery.fancybox.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="~/themes/js/jquery-1.7.2.min.js"></script>
    <script src="~/themes/js/superfish.js"></script>
    <script src="~/themes/js/jquery.scrolltotop.js"></script>
    <script src="~/themes/js/jquery.fancybox.js"></script>
    <script src="~/lib/bootstra/js/bootstrap.min.js"></script>
    <style>
        .text-danger {
            color: red;
        }

        :root {
            --logoGreen: #a3d39c;
        }
    </style>
    <script>
        var numbers = {
            '0': '০',
            '1': '১',
            '2': '২',
            '3': '৩',
            '4': '৪',
            '5': '৫',
            '6': '৬',
            '7': '৭',
            '8': '৮',
            '9': '৯'
        };

        function replaceNumbers(input) {
            var output = [];
            for (var i = 0; i < input.length; ++i) {
                if (numbers.hasOwnProperty(input[i])) {
                    output.push(numbers[input[i]]);
                } else {
                    output.push(input[i]);
                }
            }
            return output.join('');
        }

    </script>
</head>
<body>
    <div id="wrapper" class="container">
        @RenderBody()

        @if (@TempData["Is_English"] != null)
        {
            @if (@TempData["Is_English"].Equals(true))
            {
                // For English
                await Html.RenderPartialAsync("_FooterEn");

            }
            else
            {
                // For Bangla
                await Html.RenderPartialAsync("_FooterBn");

            }
            TempData.Keep("Is_English");
        }
        else
        {
            // Exception
            await Html.RenderPartialAsync("_FooterEn");
        }
    </div>

</body>

</html>
