@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/banner1.png" alt="New products">
    <h3><span>আমাদের সম্পর্কে</span></h3>
</section>
<section class="main-content">
    <div class="row">
        <div class="span7">
            @* <img  src="~/themes/images/logo.png" height="150" width="150"/> *@
            @* <h4>FarmHut.com.bd</h4> *@
            <p style="font-size: 100%"><strong style="font-size: 150%">ফার্মহাট </strong> প্রতিষ্ঠিত হয়েছে খামারি এবং গ্রাহকদের মধ্যে সংযোগ বিকাশের লক্ষ্যে । কোভিড ১৯-এর সঙ্কটের মুহুর্তে, আমাদের সবার জন্য বাড়িতে থাকা এবং আমাদের পরিবারের যত্ন নেওয়া খুব গুরুত্বপূর্ণ। আর সেজন্যই গ্রাহকদের সুরক্ষা নিশ্চিত করতে এবং সেরা মানের পণ্য সরবরাহের জন্য আমরা ক্রমাগত নতুন খামারগুলির সাথে সহযোগিতা করার চেষ্টা করছি যাতে আমরা গ্রাহকদের কাছে একাধিক বিকল্প দিতে পারি যেখান থেকে তারা তাদের জন্য সেরা পণ্য বেছে নিতে পারে। আমরা এখানে প্রদর্শিত সমস্ত পণ্য শীর্ষ স্তরের ফার্মগুলি থেকে সংগ্রহ করা হয়েছে এবং ব্যাপক যত্ন সহ গ্রাহকের বাড়িতে বিক্রি করা হয়েছে। আমাদের মূল লক্ষ্য হ'ল গ্রাহকরা এবং খামারিদের জন্য একটি লাভজনক পরিস্থিতি তৈরি করে সমাজকে সহায়তা করা।</p>        </div>
       
        <div class="span1"></div>
        
        <div class="span3">
            <div>
                   
                <h5>যোগাযোগের তথ্য</h5>
                <p>
                    <strong>ফোন:</strong>&nbsp;(+88) 01633014949 <br>
                    @* <strong>Fax:</strong>&nbsp;+04 (123) 456-7890<br> *@
                <strong>ইমেইল:</strong>&nbsp;<a href="#">farmhut.bd@gmail.com</a>
                </p>
                <br />
                <h5>অ্যাডিশনাল যোগাযোগের তথ্য</h5>
                <p>
                    <strong>ফোন:</strong>&nbsp;(+88) 01633014949<br>
                    @* <strong>Fax:</strong>&nbsp;+04 (113) 023-1145<br> *@
                <strong>ইমেইল:</strong>&nbsp;<a href="#">sakibul_i@yahoo.com</a>
                </p>
            </div>
        </div>
    </div>
</section>