
@{
    ViewData["Title"] = "TermsAndCondition";
}
@Html.Partial("_NavBar")
<section class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/themes/images/carousel/rsz_maxresdefault.png" alt="" />
            </li>
            <li>
                <img src="~/themes/images/carousel/rsz_maxresdefault_2.png" alt="" />
            </li>
        </ul>
    </div>
</section>
<section class="header_text sub">
    @* <img class="pageBanner" src="~/themes/images/banner.png" alt="New products"> *@
    <h2 style="margin-top: 3%"><span>Terms And Condition</span></h2>
</section>

<section class="main-content">
    <div class="row">
        <div class="span11" style="padding: 1%; margin-right:5%">
            <h5><u>Introduction</u></h5>
            <span style="margin-top: 5%;">Welcome to FarmHut. FarmHut provides access to the “FarmHut.com.bd” website to you subject to the terms and conditions set out on this page. By using the Website, you, a user in terms of the eligibility criteria set out herein (“User”) agree to be bound by the Terms. Please read them carefully as your continued usage of the Website, you signify your agreement to be bound by these Terms.</span>
            <br />

            <h5 style="margin-top: 5%;"><u>The Contract</u></h5>
            <span style="margin-top: 5%;">Your order is an offer to us to buy the product(s) in your order. When you place an order to purchase a product from us, you will receive confirming receipt of your order and/or containing the details of your order. The Order Confirmation communication is acknowledgement that we have received your order, but does not confirm acceptance of your offer to buy the product(s) ordered; that when we send the Order Confirmation E-mail or call is  called an “agreement to sell” . </span>
            <br />
            <span>You cannot cancel your order once you have ordered a product and have paid the amount for the desired product.</span>

            <h5 style="margin-top: 5%;"><u>Product Descriptions</u></h5>
            <span style="margin-top: 5%;">FarmHut always try to be as accurate as possible. As we does not own any farm rather make a collaboration with different farms so we does not warrant that product descriptions or other content of any product is completely accurate or error-free.</span>
            <br />
            <span>We aim to include up-to-date pictures of all of the product(s) on this web site. We have made every effort to display the true color and size of the item, but this may vary due to computer settings, etc. Please contact us if you have any confusion about the product(s). We recommend you read the description labels on the product(s) carefully before purchasing any product(s) or you can communicate directly using the contact details given in the website.</span>
            <br />
            <span>All products displayed on the website are subject to change and are subject to availability. </span>
            <br />

            <h5 style="margin-top: 5%;"><u>Pricing and payment</u></h5>
            <span style="margin-top: 5%;">Prices throughout the website are quoted in Bangladeshi Taka (BDT), and payment can only be accepted in Bangladeshi Taka (BDT). </span>
            <br />
            <span>While we make every effort to ensure that the products shown on our website are currently available at the price shown, we cannot guarantee that this will always be the case. If products you have ordered are unavailable, you will be notified as soon as possible.</span>
            <br />
            <span>The price you pay is the price of the products shown at the time you place your order, even if the price of the product has since changed.</span>
            <br />
            <span>Your payment card will be debited for your order at the time the order is placed. By submitting an online order, you expressly agree not to request a ‘charge back’ of any fees or payments for said orders, and that no dispute will be raised. </span>
            <br />

            <h5 style="margin-top: 5%;"><u>Return Policy</u></h5>
            <span style="margin-top: 5%;"> FarmHut sources the product(s) from different farms once it receive any order from its customer(s). So, currently we does not offer any return facilities to our customer(s). But as an obligation to our customer(s) we are trying to provide the facilities to our customer(s) in a minimum possible of time.</span>

            <h5 style="margin-top: 5%;"><u>Privacy Policy</u></h5>
            <span style="margin-top: 5%;"> Registration data and other personally identifiable information that the site may collect is subject to the terms of the website's Privacy Policy.</span>

            <h5 style="margin-top: 5%;"><u>Changes to Terms & Conditions for buying products online</u></h5>
            <span style="margin-top: 5%;">We reserve the right to change, modify, add, or remove portions of these Terms and Conditions at any time without any prior notification. Changes will be effective when posted on the Site with no other notice provided. Please check these Terms and Conditions regularly for updates. Your continued use of the Site following the posting of changes to Terms and Conditions of use constitutes your acceptance of those changes.</span>

            <h5 style="margin-top: 5%;"><u> Reservation of rights</u></h5>
            <span style="margin-top: 5%;">FarmHut reserves all the rights, including but not limited to any and all copyrights, trademarks, patents, trade secrets, and any other proprietary right that the site editor may have in respect of this web site, its content, and goods and services that may be provided. The use of the any information of this website and property requires the authority's prior written consent. By making services available to you, we are not providing you with any implied or express licenses or rights, and you will have no rights to make any commercial use of this web site or provided services without the authority’s prior written consent.</span>

            <h5 style="margin-top: 5%;"><u> PRIVACY</u></h5>
            <span style="margin-top: 5%;">FarmHut will comply with the organization’s Privacy Statement. FarmHut will not reveal your personal information to external organization except for the purposes of fulfilling your order. </span>
            
            <h5 style="margin-top: 5%;"><u> LIABILITY</u></h5>
            <span style="margin-top: 5%;">Any liability of FarmHut in connection with goods or services supplied to you will, subject to any non-excludeable liability for breach of conditions or warranties implied by legislation and to the maximum extent permitted by law, at the election of FarmHut be limited to:</span>
            <br />
            <br />
            <span> 1. in relation to goods, the replacement of the goods or the supply of equivalent goods; and</span>
            <br />
            <br />
            <span>2. in relation to services, the supplying of the services again or the payment of the cost of having the services supplied again.
            </span>


        </div>
        

    </div>
</section>


<script src="~/themes/js/common.js"></script>
<script src="~/themes/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: "fade",
                slideshowSpeed: 4000,
                animationSpeed: 600,
                controlNav: false,
                directionNav: true,
                controlsContainer: ".flex-container" // the container that holds the flexslider
            });
        });
    });
    $('#myCarousel-2-mobile').carousel({
        interval: 3000,
    });
    $('#myCarousel-2').carousel({
        interval: 4000,
    });
    $('#myCarousel-mobile').carousel({
        interval: 3000,
    });
    $('#myCarousel').carousel({
        interval: 4000,
    });
</script>

<style>
    @@media (min-width: 0px) and (max-width: 767px) {
        .carousel-normal {
            display: none;
        }

        .carousel-mobile {
            display: block;
        }
        .banner-text {
            margin-top: 10% !important;
        }
    }

    @@media only screen and (min-width: 768px) {
        .carousel-mobile {
            display: none;
        }

        .carousel-normal {
            display: block;
        }
        .banner-text {
            margin-top: 0%;
        }
    }
</style>
