
@{
    ViewData["Title"] = "Failed";
}
@Html.Partial("_NavBar")
<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/banner1.png" alt="New products">
</section>

<section class="main-content">
    <div class="row">
        <div class="span12" style="text-align: center">
            <h1>Failed Payment!</h1>
        </div>
    </div>
</section>