@model Models.OrderModels.SearchOrderModel;



@{
    ViewData["Title"] = "OrderConfirmation";
    ViewBag.Detailes = Model;
}
@Html.Partial("_NavBar")
<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
    
</section>
<section class="main-content">
<div class="row">
    <div class="span12" style="text-align: center">
        <h5>Your Inital Booking For The Product Is Done</h5>
        <h5>We will Contact You Soon</h5><br/>
        <h5 style="color: red">Please Download Booking Recipt For Complete Further Procedure</h5>
        @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })
        <form method="post" asp-action="Index" autocomplete="off" asp-controller="Payment">
            @Html.AntiForgeryToken()
            <div class="control-group">
                <label class="control-label"><strong>Order Id</strong></label>
                <div class="controls">
                    <input asp-for="Id" type="text" placeholder="Enter Your Order Id" style="width: 90%;"><br/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Search Order</button>
        </form>
    </div>
</div>
</section>


